#container {
    background: linear-gradient(to bottom right, #777fb0, #ff8471);
    border: none;
    font-family: sans-serif;
    overflow: hidden;


    display: none;
}

.demo-layout {
    /*padding: 20px;*/
}

button {
    padding: 15px;
    margin: 10px;
    margin-left: 100px
}

#wait {
    display: block;
}

.mdl-layout__drawer {
    width: 330px;
    left: -275px;
}

.mdl-layout__drawer.is-visible {
    left: 0;
}